    /* start with period for class (multi-use), # for element (single use), @ for setting rules*/

    .text {
        color: brown;
    }

    #twitter {
        text-align: right;
    }

    @media (min-width:768px) {
        .chart-container {
            display: flex;
            justify-content: space-between;
            padding: 1rem 1rem 1rem;
        }
    }

    @media (min-width:1440px) {
        .chart-container {
            display: flex;
            justify-content: space-between;
            padding: 1rem 3rem 1rem;
        }
    }

    @media (min-width:2560px) {
        .chart-container {
            display: flex;
            justify-content: space-between;
            padding: 1rem 6rem 1rem;
        }
    }

    #min_10_count-chart {
        flex: 1;
    }

    #min_100_count-chart {
        flex: 1;
    }

    #min_1k_count-chart {
        flex: 1;
    }

    #min_10k_count-chart {
        flex: 1;
    }